.top
{
    padding:20px;
    border-bottom: solid grey;
    border-right:solid grey;
    border-left:solid grey;
    border-width: 1px;
    width: 1200px;
}
.po
{
    font-weight:bold;
    font-size: 30px;
}
.lo
{
    text-align: right;
    float: right;
    line-height: 40px;
}
.wq
{
    display: block;
    margin-right: 10px;
    float:left;
}